<%= form_with(model: invoice, url: url, id: "invoice_form") do |form| %>
  <div class="row">
    <div class="col-6">
      <%= form.label :order_number, "Číslo objednávky", class: "form-label" %>
      <%= form.text_field :order_number, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :order_number %>
    </div>
    <div class="col-6">
      <%= form.label :number, "Číslo faktúry", class: "form-label" %>
      <%= form.text_field :number, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :number %>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= form.label :issue_date, "Dátum vystavenia", class: "form-label" %>
      <%= form.date_field :issue_date, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :issue_date %>
    </div>
    <div class="col-4">
      <%= form.label :delivery_date, "Dátum dodania", class: "form-label" %>
      <%= form.date_field :delivery_date, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :delivery_date %>
    </div>
    <div class="col-4">
      <%= form.label :due_date, "Dátum splatnosti", class: "form-label" %>
      <%= form.date_field :due_date, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :due_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= form.label :client, "Vyber klienta", class: "form-label" %>
      <%= form.select :client, @account.partners.collect { |c| [c.name, c.client.id] }, {}, class: "form-select" %>
      <%= render "shared/error_form_field", object: invoice, field: :number %>
    </div>
    <div class="col-6">
      <%= form.label :payment_method, "Platobná metóda", class: "form-label" %>
      <%= form.select :payment_method, Invoice.payment_methods.collect { |k, v| [v, v] }, {}, class: "form-select" %>
      <%= render "shared/error_form_field", object: invoice, field: :payment_method %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= form.label :bank_account_id, "Bankový účet", class: "form-label" %>
      <%= form.select(:bank_account_id,
                      options_for_select(BankAccount.my_bank_accounts(@account)
                                                    .collect { |ba| [ba.name, ba.id] }, invoice.invoice_bank_accounts.first&.bank_account_id), {}, class: "form-select") %>
    </div>
    <div class="col-6">
      <%= form.label :variable_symbol, "Variabilný symbol", class: "form-label" %>
      <%= form.text_field :variable_symbol, class: "form-control" %>
      <%= render "shared/error_form_field", object: invoice, field: :variable_symbol %>
    </div>
  </div>

  <%= form.text_field :vat_rate, class: 'form-control form-control--invoice-item', data: {
    target: 'invoices--invoice-item.VAT',
    action: 'input->invoices--invoice-item#calculateTotalVAT'
  } %>


  <div data-controller="form--fields-for">
    <div class="d-flex card"  data-controller="semantic-search">
      <!-- header -->
      <div>
        <div><h3>Fakturované položky</h3></div>
        <div class="row">
          <div class="col">Názov</div>
          <div class="col">Počet</div>
          <div class="col">MJ</div>
          <div class="col">Cena za jednotku</div>
          <div class="col">Cena celkom</div>
          <div class="col">DPH</div>
          <div class="col">Cena s DPH</div>
          <div class="col">Vymaž položku</div>
        </div>
      </div>
      <!-- body -->
      <!-- TODO: wrap to div -->
      <%= form.fields_for :invoice_items do |invoice_items_form| %>

        <%= render 'invoices/invoice_items/invoice_items_fields', form: invoice_items_form %>
      <% end %>
      <div>
        <%= button_tag("Add invoice item", {
          data: {
            action: "form--fields-for#add",
            fields: form.fields_for(:invoice_items, InvoiceItem.new, child_index: "new_field") { |document_item_add_form| render("invoices/invoice_items/invoice_items_fields", form: document_item_add_form) }
          } }) %>
      </div>
      <!-- footer -->
    </div>
  </div>
  <div data-controller="automatic-accounting">
    <div class="row">
      <div class="col-auto">
        <label for="automatic" class="form-label">Automatické účtovanie</label>
      </div>
      <div class="col-auto">
        <input type="checkbox" class="form-check-input" id="automatic" name="automatic" data-semantic-search-target="automatic"
               data-automatic-accounting-target="doAccount"
               data-action="change->automatic-accounting#automaticAccount"/>
      </div>
    </div>
    <input type="hidden" id="document_type" name="document_type" value="<%=@invoice.document_type%>" data-automatic-accounting-target="docType">
  </div>
<% end %>