<%= form_with(model: invoice, url: url) do |form| %>

  <div>
    <%= form.label :number, "Číslo faktúry", style: "display: block" %>
    <%= form.text_field :number %>
    <%= render "shared/error_form_field", object: invoice, field: :number %>
  </div>

  <div>
    <%= form.label :client, "Vyber klienta", style: "display: block" %>
    <%= form.select :client, @account.partners.collect { |c| [c.name, c.client.id] } %>
    <%= render "shared/error_form_field", object: invoice, field: :number %>
  </div>

  <div>
    <%= form.label :issue_date, "Dátum vystavenia", style: "display: block" %>
    <%= form.date_field :issue_date %>
    <%= render "shared/error_form_field", object: invoice, field: :issue_date %>
  </div>

  <div>
    <%= form.label :delivery_date, "Dátum dodania", style: "display: block" %>
    <%= form.date_field :delivery_date %>
    <%= render "shared/error_form_field", object: invoice, field: :delivery_date %>
  </div>

  <div>
    <%= form.label :due_date, "Dátum splatnosti", style: "display: block" %>
    <%= form.date_field :due_date %>
    <%= render "shared/error_form_field", object: invoice, field: :due_date %>
  </div>

  <div>
    <%= form.label :payment_method, "Platobná metóda", style: "display: block" %>
    <%= form.select :payment_method, Invoice.payment_methods.collect { |k, v| [v, v] } %>
    <%= render "shared/error_form_field", object: invoice, field: :payment_method %>
  </div>

  <div>
    <%= form.label :variable_symbol, "Variabilný symbol", style: "display: block" %>
    <%= form.text_field :variable_symbol %>
    <%= render "shared/error_form_field", object: invoice, field: :variable_symbol %>
  </div>

  <div>
    <%= form.label :order_number, "Číslo objednávky", style: "display: block" %>
    <%= form.text_field :order_number %>
    <%= render "shared/error_form_field", object: invoice, field: :order_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
