<div id="<%= dom_id invoice %>">
  <p>
    <strong>Issue date:</strong>
    <%= invoice.issue_date %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= invoice.delivery_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= invoice.payment_method %>
  </p>

  <p>
    <strong>Variable symbol:</strong>
    <%= invoice.variable_symbol %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%= invoice.order_number %>
  </p>

</div>
