<% content_for :page_header do %>
  <%= button_tag(type: 'submit', class: 'btn btn-primary d-flex align-items-center justify-content-center', form: 'bank_statement_form') do %>
    <%= material_icon.shape(:save).outlined %>
    <span class="ms-2">Uložiť zmeny</span>
  <% end %>
<% end %>
<%= render 'shared/page_header', title: "Nový bankový výpis" %>
<% content_for :page_body do %>
  <%= render "form", bank_statement: @bank_statement,url: bank_statements_path()  %>
<% end %>
<%= render 'shared/page_body' %>
