<nav class="navbar navbar-expand-lg navbar-light rounded-end-5" style="background:#F3F3F5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex flex-column" id="navbarNav">
    <div class="p-4 ">
      <a href="/">
        <%= image_tag("logo.jpeg", alt: 'logo', width: 70) %>
      </a>
    </div>
    <ul class="navbar-nav">
      <div class="mx-4 mb-2">
        <div class="text-secondary text-uppercase">nastavenia</div>
      </div>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= edit_profile_path(current_user) %>">
          <span class="material-icons outlined me-3">person</span>Môj profil
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= accounts_path() %>">
          <span class="material-icons outlined me-3">group</span>Moje účty
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= partners_path(@account_id) %>">
          <span class="material-icons outlined me-3">handshake</span>Klienti
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= bank_accounts_path(@account_id) %>">
          <span class="material-icons outlined me-3">account_balance_wallet</span>Bankové účty
        </a>
      </li>
      <div class="mx-4 mb-2">
        <div class="text-secondary text-uppercase">moje dokumenty</div>
      </div>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= sales_invoices_path(@account_id) %>">
          <span class="material-icons outlined me-3">request_quote</span>Odberateľské faktúry
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= supplier_invoices_path(@account_id) %>">
          <span class="material-icons outlined me-3">request_quote</span>Dodávateľské faktúry
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= expenses_path(@account_id) %>">
          <span class="material-icons outlined me-3">receipt_long</span>Príjmový pokladničný doklad
        </a>
      </li>

      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="<%= expenses_path(@account_id) %>">
          <span class="material-icons outlined me-3">receipt_long</span>Výdavkový pokladničný doklad
        </a>
      </li>
      <li class="nav-item mb-2 mx-3">
        <a class="nav-link d-flex align-items-center" href="#">
          <span class="material-icons outlined me-3">receipt_long</span>Bankový výpis
        </a>
      </li>
    </ul>
    <div class="mt-auto me-auto ms-3 mb-2">
      <a class="nav-link d-flex align-items-le" href="<%= destroy_user_session_path %>"
         data-turbo-method="delete" data-turbo-prefetch="false">
        <span class="material-icons outlined me-3">logout</span>Odhlásiť sa
      </a>
    </div>
  </div>
</nav>
