<div>
  <%= invoice_account_form.label :vat_payer_type, "Registrácia na DPH" %>
  <%= invoice_account_form.select :vat_payer_type, InvoiceAccount.vat_payer_types.collect { |k, v| [v, v] } %>
  <%= render "shared/error_form_field", object: object, field: :vat_payer_type %>
</div>
<div>
  <%= invoice_account_form.label :registration_id, "IČO" %>
  <%= invoice_account_form.text_field :registration_id %>
  <%= render "shared/error_form_field", object: object, field: :registration_id %>
</div>
<div>
  <%= invoice_account_form.label :tax_id, "DIČ" %>
  <%= invoice_account_form.text_field :tax_id %>
  <%= render "shared/error_form_field", object: object, field: :tax_id %>
</div>
<div>
  <%= invoice_account_form.label :vat_id, "IČ DPH" %>
  <%= invoice_account_form.text_field :vat_id %>
  <%= render "shared/error_form_field", object: object, field: :vat_id %>
</div>
<div>
  <%= invoice_account_form.label :phone_number, "Telefónny kontakt" %>
  <%= invoice_account_form.text_field :phone_number %>
  <%= render "shared/error_form_field", object: object, field: :phone_number %>
</div>
<div>
  <%= invoice_account_form.label :email, "Email" %>
  <%= invoice_account_form.text_field :email %>
  <%= render "shared/error_form_field", object: object, field: :email %>
</div>
<div>
  <%= invoice_account_form.label :web, "Web" %>
  <%= invoice_account_form.text_field :web %>
  <%= render "shared/error_form_field", object: object, field: :web %>
</div>