<div id="<%= dom_id bank_account %>">
  <p>
    <strong>Name:</strong>
    <%= bank_account.name %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= bank_account.currency %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= bank_account.iban %>
  </p>

  <p>
    <strong>Swift code:</strong>
    <%= bank_account.swift_code %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= bank_account.account_number %>
  </p>

  <p>
    <strong>Bank code:</strong>
    <%= bank_account.bank_code %>
  </p>

</div>
