<div class="row">
  <h3 class="mt-3">Fakturačná adresa</h3>
  <div class="col-8">
    <%= address_form.label :name, "Názov firmy",class: "form-label" %>
    <%= address_form.text_field :name, class: "form-control" %>
    <%= render "shared/error_form_field", object: object, field: :name %>
  </div>
  <div class="col-4">
    <%= address_form.label :country, "Krajina", class: "form-label"%>
    <%= address_form.select :country, Account.countries.collect { |k, v| [v, v] },{},class: "form-select"  %>
    <%= render "shared/error_form_field", object: object, field: :country %>
  </div>
</div>
<div class="row">

  <div class="col-4">
    <%= address_form.label :city, "Mesto",class: "form-label" %>
    <%= address_form.text_field :city, class: "form-control" %>
    <%= render "shared/error_form_field", object: object, field: :city %>
  </div>
  <div class="col-4">
    <%= address_form.label :street, "Ulica",class: "form-label" %>
    <%= address_form.text_field :street, class: "form-control" %>
    <%= render "shared/error_form_field", object: object, field: :street %>
  </div>
  <div class="col-4">
    <%= address_form.label :street_number, "Číslo ulice",class: "form-label" %>
    <%= address_form.text_field :street_number, class: "form-control"%>
    <%= render "shared/error_form_field", object: object, field: :street_number %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <%= address_form.label :postal_code, "PSČ",class: "form-label" %>
    <%= address_form.text_field :postal_code, class: "form-control" %>
    <%= render "shared/error_form_field", object: object, field: :postal_code %>
  </div>
    <div class="col-4">
  <%= address_form.label :register_number, "Popisné číslo",class: "form-label" %>
  <%= address_form.text_field :register_number, class: "form-control" %>
  <%= render "shared/error_form_field", object: object, field: :register_number %>
    </div>
  <div class="col-4">
    <%= address_form.label :contact, "Kontakt",class: "form-label" %>
    <%= address_form.text_field :contact, class: "form-control" %>
    <%= render "shared/error_form_field", object: object, field: :contact %>
    </div>
</div>