<div id="<%= dom_id expense %>">
  <p>
    <strong>Receipt:</strong>
    <%= expense.receipt_id %>
  </p>

  <p>
    <strong>Cash register code:</strong>
    <%= expense.cash_register_code %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= expense.issue_date %>
  </p>

  <p>
    <strong>Okp:</strong>
    <%= expense.okp %>
  </p>

  <p>
    <strong>Receipt number:</strong>
    <%= expense.receipt_number %>
  </p>

</div>
