<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Accounting type:</strong>
    <%= account.accounting_type %>
  </p>


  <p>
    <strong>Register text:</strong>
    <%= account.register_text %>
  </p>

  <p>
    <strong>legal form:</strong>
    <%= account.legal_form %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= account.country %>
  </p>
</div>
