<%= form_with(model: account, id: "account_form") do |form| %>
  <h3>Informácie o účtovnej jednotke</h3>
  <div class="row">
    <div class="col-8">
      <%= form.label :name, "Názov účtu", class: "form-label" %>
      <%= form.text_field :name, class: 'form-control' %>
      <%= render "shared/error_form_field", object: account, field: :name %>
    </div>
    <div class="col-4">
      <%= form.label :country, "Krajina", class: "form-label" %>
      <%= form.select :country, Account.countries, {}, { class: "form-select" } %>
      <%= render "shared/error_form_field", object: account, field: :country %>
    </div>
    <div class="row">
      <div class="col-4">
        <%= form.label :legal_form, "Právna forma", class: "form-label" %>
        <%= form.select :legal_form, Account.legal_forms.collect { |k, v| [v, v] }, {}, class: "form-select" %>
        <%= render "shared/error_form_field", object: account, field: :legal_form %>
      </div>
      <div class="col-4">
        <%= form.label :accounting_type, "Spôsob účtovania", class: "form-label" %>
        <%= form.select :accounting_type, Account.accounting_types.collect { |k, v| [v, v] }, {}, class: "form-select" %>
        <%= render "shared/error_form_field", object: account, field: :accounting_type %>
      </div>
      <div class="col-4 ps-4">
        <%= form.label :register_text, "Zápis vregistri", class: "form-label" %>
        <%= form.text_field :register_text, class: "form-control" %>
        <%= render "shared/error_form_field", object: account, field: :register_text %>
      </div>
    </div>
  </div>


  <%= fields_for @invoice_account do |invoice_account_form| %>
    <%= render "invoice_accounts/invoice_accounts_fields", object: @invoice_account, invoice_account_form: invoice_account_form %>
  <% end %>

  <%= fields_for :invoice_address, @invoice_address do |invoice_address_form| %>
    <%= render "addresses/address_fields", address_form: invoice_address_form, object: @invoice_address,address_type: "Faktúračná adresa" %>
  <% end %>

  <div data-controller="form--toggle-visibility">
    <div data-form--toggle-visibility-target="toggleElement">
      <%= fields_for :postal_address, @postal_address do |postal_address_form| %>
        <%= render "addresses/address_fields", address_form: postal_address_form, object: @postal_address,address_type: "Poštová adresa" %>
      <% end %>
      <div class="form-check">
        <%= form.check_box :address_match, { checked: !@postal_address.persisted?, data: {
          :action => "change->form--toggle-visibility#toggleElementDisplay",
          :form__toggle_visibility_target => "flag"
        } }, class: 'form-check-input' %>
        <%= form.label "Faktúračná adresa je zhodná s poštovou", class: 'form-check-label' %>
      </div>
    </div>
  </div>
<% end %>
