<%= form_with(model: account) do |form| %>
  <div>
    <%= form.label :name, "Názov účtu", style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= render "shared/error_form_field", object: account, field: :name %>
  </div>

  <div>
    <%= form.label :country, "Krajina", style: "display: block" %>
    <%= form.select :country, Account.countries %>
    <%= render "shared/error_form_field", object: account, field: :country %>
  </div>

  <div>
    <%= form.label :legal_form, "Právna forma", style: "display: block" %>
    <%= form.select :legal_form, Account.legal_forms.collect { |k, v| [v, v] } %>
    <%= render "shared/error_form_field", object: account, field: :legal_form %>
  </div>

  <div>
    <%= form.label :accounting_type, "Spôsob účtovania", style: "display: block" %>
    <%= form.select :accounting_type, Account.accounting_types.collect { |k, v| [v, v] } %>
    <%= render "shared/error_form_field", object: account, field: :accounting_type %>
  </div>

  <div>
    <%= form.label :register_text, "Zápis vregistri", style: "display: block" %>
    <%= form.text_field :register_text %>
    <%= render "shared/error_form_field", object: account, field: :register_text %>
  </div>

  <%= fields_for @invoice_account do |invoice_account_form| %>
    <%= render "invoice_accounts/invoice_accounts_fields", object: @invoice_account, invoice_account_form: invoice_account_form %>
  <% end %>

  <%= fields_for :invoice_address, @invoice_address do |invoice_address_form| %>
    <%= render "addresses/address_fields", address_form: invoice_address_form, object: @invoice_address %>
  <% end %>

  <div data-controller="form--toggle-visibility">
    <div data-form--toggle-visibility-target="toggleElement">
      <%= fields_for :postal_address, @postal_address do |postal_address_form| %>
        <%= render "addresses/address_fields", address_form: postal_address_form, object: @postal_address %>
      <% end %>
      <div class="form-check">
        <%= form.check_box :address_match, { checked: !@postal_address.persisted?, data: {
          :action => "change->form--toggle-visibility#toggleElementDisplay",
          :form__toggle_visibility_target => "flag"
        } }, class: 'form-check-input' %>
        <%= form.label "Faktúračná adresa je zhodná s poštovou", class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
